* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --gray-1: #333;
  --gray-2: #4f4f4f;
  --gray-3: #bdbdbd;

  /* Light colors */
  --white: #fff;

  /* Hover color */
  --link-hover: #ff6d5b;

  /* margin */
  --mb-xl: 1rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Space Mono', monospace;
  background-color: var(--white);
  padding: 1.5rem;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

nav {
  margin-bottom: 4rem;
}

nav a {
  font-family: 'Inconsolata', monospace;
  color: var(--gray-1);
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 20px;
  right: 20px;
}

.section__image {
  width: 100%;
  max-width: 30rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.section__image img {
  width: 90%;
  margin: 1 auto;
}

.section__description {
  max-width: 450px;
}

.section__description__header {
  font-weight: bold;
  color: var(--gray-1);
  font-size: 3rem;
  margin-bottom: 2.25rem;
}

.section__description__text {
  font-size: 1.5rem;
  color: var(--gray-2);
  width: 90%;
  margin-bottom: 4rem;
}

.btn__cta {
  display: inline-block;
  font-family: 'Space Mono', monospace;
  padding: 1.5rem;
  background-color: var(--gray-1);
  color: var(--white);
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  transition: 0.5s ease-out background-color;
}

footer {
  font-family: 'Montserrat', sans-serif;
  color: var(--gray-3);
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
  min-height: 1.5rem;
  margin-top: auto;
}

@media (hover: hover) {
  nav a:hover {
    color: var(--link-hover);
  }
  .section__image:hover {
    transform: scale(1.1);
  }
  .btn__cta:hover {
    background-color: var(--link-hover);
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --mb-xl: 2rem;
  }

  body {
    margin: 0 auto;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    top: 5rem;
    left: 1rem;
    right: 1rem;
  }

  footer {
    margin-top: 1.5rem;
  }

  .section__image img {
    width: 75%;
    margin: 1rem auto;
  }
  .section__description__header {
    font-size: 2.5rem;
    max-width: 25rem;
  }
  .section__description__text {
    font-size: 1.125rem;
    max-width: 17rem;
  }
}
